{% extends 'quiz/base.html' %}
{% block content %}

    <h1>{{ category.title }}</h1>
    {{ category.description | linebreaks }}
    <div>
        {% for quiz in quizs %}
            <h2>
                <a href="{{ quiz.get_absolute_url }}">
                    {{ quiz.title }}
                </a>
            </h2>
            {{ quiz.description | linebreaks }}
        {% endfor %}
    </div>
<style>
        h1{
        margin-left: 40px;
        }
             body{
        background-color: #D0E0E3;
        }
        div{
        margin-left: 60px;
        text:hover;
        }
        a{

        text-decoration: none;
        color: #0A3E6E;
        }
        a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}
        </style>


{% endblock %}