{% extends 'quiz/base.html' %}
{% block content %}

    <div>
        {% for category in categories %}
            <h2>
                <a href="{{ category.get_absolute_url }}">
                    {{ category.title }}
                </a>
            </h2>
            {{ category.description | linebreaks }}
        {% endfor %}
    </div>

        <style>
             body{
        background-color: #D0E0E3;
        }
        div{
        margin-left: 40px;
        text:hover;
        }
        a{
        text-decoration: none;
        color: #0A3E6E;
        }
        a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}
        </style>

{% endblock %}